<%= form_for @user, html: {class: "form-horizontal col-sm-6", role: "form"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-6">
      <input name="user[first_name]" type="text" id="first_name" class="form-control" placeholder="First name">
    </div>
    <div class="col-sm-6">
      <input name="user[last_name]" type="text" id="last_name" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input name="user[email]" type="text" id="email" class="form-control" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <input name="user[password]" type="password" id="password" class="form-control" placeholder="Password must be 8-40 characters...">
    </div>
    <div class="col-sm-6">
      <input name="user[password_confirmation]" type="password" id="password_confirmation" class="form-control" placeholder="Please confirm your password...">
    </div>
  </div>
  <div class="form-group">
    <div class="radio col-sm-6">
      <label>
        <input name="user[type]" type="radio" name="userTypeRadios" id="userTypeRadio1" value="Pledger">
        I am a pledger
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="radio col-sm-6">
      <label>
        <input name="user[type]" type="radio" name="userTypeRadios" id="userTypeRadio2" value="Performer">
        I am a performer
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 actions">
      <input type="submit" value="Register" class="btn btn-success">
    </div>
  </div>
<% end %>
