<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div>
  <%= image_tag @user.avatar.url(:thumb) %>
</div>

<h1><div>Basic Info</div></h1>
<%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" %>
<table class="table table-striped">
  <tr><td>Name:</td><td><%= @user.name %></td></tr>
  <tr><td>Email:</td><td><%= @user.email %></td></tr>
</table>

<% if @user.is_a? Pledger %>
  <h1>Pledges</h1>
  <table class="table table-striped">
    <tr>
      <th>Campaign</th>
      <th>Value</th>
      <th>Delete?</th>
    </tr>
    <% @user.pledges.each do |pledge| %>
      <tr>
        <td><%= pledge.campaign.try(:name) %></td>
        <td><%= pledge.amount %></td>
        <td><%= link_to "X", "/pledges/#{pledge.id}", method: :delete, :class => "btn btn-default" %></td>
      </tr>
    <% end %>
  </table>
<% end %>