<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div>
  <%= image_tag @user.avatar.url(:thumb), class: "img-circle" %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <h3>
        <div class="col-md-8">Basic Info</div>
        <div class="col-md-4">
          <% if @user.id == current_user.try(:id) %>
            <small><%= link_to "Edit", edit_user_path(@user), class: "text-right" %></small>
          <% end %>
        </div>
      </h3>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tr><td>Name:</td><td><%= @user.name %></td></tr>
          <tr><td>Email:</td><td><%= @user.email %></td></tr>
        </table>
      </div>
    </div>

    <% if @user.is_a? Pledger %>
      <div class="row">
        <div class="col-md-12">
          <h3>Pledges</h3>
          <table class="table table-striped">
            <tr>
              <th>Campaign</th>
              <th>Value</th>
              <th></th>
            </tr>
            <% @user.pledges.each do |pledge| %>
              <tr>
                <td><%= pledge.campaign.try(:name) %></td>
                <td><%= pledge.amount %></td>
                <td>
                  <%= link_to "/pledges/#{pledge.id}", method: :delete do %>
                    <button class="btn btn-danger">X</button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>

    <% if @user.is_a?(Performer) %>
      <% if !@user.campaigns.active.blank? %>
        <div class="row">
          <h3>
            <div class="col-md-8">Campaigns</div>
            <div class="col-md-4"></div>
          </h3>
        </div>
        <br />
        <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <% @user.campaigns.active.each do |campaign| %>
              <tr>
                <td class="col-md-8"><%= link_to campaign.name, campaign_path(campaign) %></td>
                <td class="col-md-2"><%= "$#{campaign.amount}" %></td>
                <td class="col-md-1">
                  <% if @user.id == current_user.try(:id) %>
                    <%= link_to campaign_path(campaign), method: "delete" do %>
                      <button class="btn btn-danger">X</button>
                    <% end %>
                  <% end %>
                </td>
                <td class="col-md-1">
                  <% if @user.id == current_user.try(:id) %>
                    <%= link_to campaign_finish_path(id: campaign.id) do %>
                      <button class="btn btn-success">></button>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
      <% if !@user.campaigns.in_review.blank? && ( @user == current_user || current_admin? ) %>
        <div class="row">
          <h3>
            <div class="col-md-8">Campaigns (in review)</div>
            <div class="col-md-4"></div>
          </h3>
        </div>
        <br />
        <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <% @user.campaigns.in_review.each do |campaign| %>
              <tr>
                <td class="col-md-8"><%= campaign.name %></td>
                <td class="col-md-2"><%= campaign.amount %></td>
                <td class="col-md-1">
                  <%= link_to campaign_path(campaign), method: "delete" do %>
                    <button class="btn btn-danger">X</button>
                  <% end %>
                </td>
                <td class="col-md-1"></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>