<%= image_tag @user.avatar.url(:thumb) %>
<h2> <%= @user.name  %> </h2>
<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% @user.attributes.slice("first_name", "last_name").each do |key, value| %>
    <tr>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
<% if @user.is_a? Pledger %>
  <h1>Pledges</h1>
  <table>
    <tr>
      <th>Campaign</th>
      <th>Value</th>
    </tr>
    <% @user.pledges.each do |pledge| %>
      <tr>
        <td><%= pledge.campaign.name %></td>
        <td><%= pledge.amount %></td>
      </tr>
    <% end %>
  </table>
<% end %>