<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "logo_v1.png" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Campaigns", campaigns_path %></li>
        <li><%= link_to "Performers", performers_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-form navbar-left" role="search">
          <%= text_field_tag 'search_box', nil, placeholder: "Search" %>
        </li>
        <% if current_user %>
          <% if current_user.is_a? Pledger %>
            <% unless current_user.stripe_customer_id || current_admin? %>
              <li><%= link_to "Add Your Card", new_customer_path %></li>
            <% end %>
            <li><%= link_to "My Cart" + pending_pledges, checkout_path %></li>
          <% end %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path %></li>
          <% if current_admin? %>
            <li>
              <a class="dropdown dropdown-toggle" data-toggle="dropdown">
                Admin
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Pending", admin_campaigns_path %></li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li><%= link_to "Register", new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Logic for search box -->

<script type="text/javascript">
  
  function imgForAutocompleteItem(item){
    if (item.avatar_url === "") {
      return "";
    }
    else {
      return "<img class=\"search-result\" src=" + item.avatar_url + " />";
    }
  }

  $(function() {
    
    var currentCategory = "";

    $('#search_box').autocomplete({
      minLength: 2,
      source: '<%= search_path(:json) %>',

      focus: function(event, ui) {
        $('#search_box').val(ui.item.value);
        return false;
      },

      select: function(event, ui) {
        $('#search_box').val(ui.item.value);
        $('#link_origin_id').val(ui.item.id);
        return false;
      }}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
        if (item.klass != currentCategory){
          ul.append("<li><strong>" + item.klass + "s</strong></li>");
        }
        currentCategory = item.klass;
        return $("<li></li>")
          .data( "autocomplete-item", item )
          .append("<div>" +
            imgForAutocompleteItem(item) +
            "<a href=" + item.url + ">" + item.value +  "</a>" +
            "</div>")
          .appendTo( ul );
    };
  });
</script>