<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <input type="text" class="performer_search form-control" id="performer_search" placeholder="Search by performer...">
      </div>
    </form>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="col-md-10">
    <% @performers.each do |performer| %>
      <%= link_to performer_path(performer), class: "col-md-2" do %>
        <div class="row">
          <%= image_tag performer.avatar.url(:thumb), class: "img-circle" %>
        </div>
        <div class="row">
          <p><%= performer.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {

    $('#search_box').hide();

    $('#performer_search').autocomplete({
      minLength: 2,
      source: '<%= performer_search_path(:json) %>',

      focus: function(event, ui) {
        $('#performer_search').val(ui.item.value);
        return false;
      },

      select: function(event, ui) {
        $('#performer_search').val(ui.item.value);
        $('#link_origin_id').val(ui.item.id);
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "autocomplete-item", item )
        .append( "<a href=" + item.url + ">" + item.value +  "</a>" )
        .appendTo( ul );
    };
  });
</script>
