<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<button>
  <%= link_to 'New Campaign', new_campaign_path %>
</button>

<br />
<br />

<%= text_field_tag 'campaign_search', nil, placeholder: "Find a campaign..." %>

<script type="text/javascript">
  $(function() {

    $('#search_box').hide();

    $('#campaign_search').autocomplete({
      minLength: 2,
      source: '<%= campaign_search_path(:json) %>',

      focus: function(event, ui) {
        $('#campaign_search').val(ui.item.value);
        return false;
      },

      select: function(event, ui) {
        $('#campaign_search').val(ui.item.value);
        $('#link_origin_id').val(ui.item.id);
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "autocomplete-item", item )
        .append( "<a href=" + item.url + ">" + item.value +  "</a>" )
        .appendTo( ul );
    };
  });
</script>

<%= render 'top' if defined?(@top_campaigns) %>
<%= render 'newest' if defined?(@newest_campaigns) %>
