<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Funding Level:</strong>
  <%= @campaign.amount %>
</p>

<p>
  <strong>Pledgers:</strong>
  <table>
    <% @campaign.pledges.each do |pledge| %>
      <tr>
        <td><%= pledge.pledger.first_name %></td>
        <td><%= pledge.amount %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to "Back", campaigns_path %>
<%= form_tag pledges_path, method: "post" do |f| %>
  <%= hidden_field_tag 'pledge[campaign_id]', @campaign.id %>
  <%= hidden_field_tag 'pledge[amount]', "50" %>
  <%= submit_tag "Pledge $50!", :class => "btn btn-default" %>
<% end %>