<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Funding Level:</strong>
  <%= @campaign.amount %>
</p>
<p>
  <% unless current_user %>
  <h3><%= link_to 'pledge', new_pledger_path(@campaign)  %></h3> 
  <% else %>
  <h3><%= link_to 'pledge',"/users/#{current_user.id}/pledges/new"  %></h3>  
  <% end %>

</p>

<p>
  <strong>Pledgers:</strong>
  <table>
    <% @campaign.pledges.each do |pledge| %>
      <tr>
        <td><%= pledge.pledger.first_name %></td>
        <td><%= pledge.amount %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
