<!DOCTYPE html>
<html>
<head>
  <title>Stripstarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.10.4.custom.min.js' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.10.4.custom.css' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" style="float:right;">
    <div id="user_nav">
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(:current) %> |
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Register", new_user_path %> |
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
  </div>

  <strong><%= link_to "Stripstarter", root_path %>  : Putting the 'fun' in crowdfunded pornography</strong>
  <br />
  <br />


<%= yield %>

</body>
</html>
